<div>
    <h1>Game List</h1>
    <table>
      <thead>
        <tr>
          <th>AppID</th>
          <th>Name</th>
          <th>Releasedate</th>
          <th>Requiredage</th>
          <th>Price</th>
          <th>DLCcount</th>
          <th>Windows</th>
          <th>Mac</th>
          <th>Linux</th>
          <th>Achievements</th>
          <th>Developers</th>
          <th>Publishers</th>
          <th>Categories</th>
          <th>Genres</th>
          <th>Positive</th>
          <th>Negative</th>
        </tr>
      </thead>
      <tbody>
        {{#each games}}
          <tr>
            <form id="update-form-{{this.AppID}}" action="/gamelists/{{this.AppID}}" method="POST">
            <td>{{this.AppID}}</td>
            <td><input type="text" name="Name" value="{{this.Name}}" required /></td>
            <td><input type="date" name="Releasedate" value="{{this.Releasedate}}" required /></td>
            <td><input type="number" name="Requiredage" value="{{this.Requiredage}}" min="0" /></td>
            <td><input type="number" name="Price" value="{{this.Price}}" min="0" step="0.01" required /></td>
            <td><input type="number" name="DLCcount" value="{{this.DLCcount}}" min="0" /></td>
            <td><input type="checkbox" name="Windows" value="true" {{#if this.Windows}}checked{{/if}} /></td>
            <td><input type="checkbox" name="Mac" value="true" {{#if this.Mac}}checked{{/if}} /></td>
            <td><input type="checkbox" name="Linux" value="true" {{#if this.Linux}}checked{{/if}} /></td>
            <td><input type="number" name="Achievements" value="{{this.Achievements}}" min="0" /></td>
            <td><input type="text" name="Developers" value="{{this.Developers}}" required /></td>
            <td><input type="text" name="Publishers" value="{{this.Publishers}}" required /></td>
            <td><input type="text" name="Categories" value="{{this.Categories}}" required /></td>
            <td><input type="text" name="Genres" value="{{this.Genres}}" required /></td>
            <td><input type="number" name="Positive" value="{{this.Positive}}" min="0" /></td>
            <td><input type="number" name="Negative" value="{{this.Negative}}" min="0" /></td>
            <td>
              <button type="submit">Update</button>
              <a href="/edit/{{this.AppID}}">Edit</a> | 
              <form action="/delete/{{this.AppID}}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <h2>Add New Game</h2>
    <form id="add-form" action="/gamelists" method="POST">
      <table>
        <tr>
          <td>AppID:</td>
          <td><input type="number" name="AppID" required /></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td><input type="text" name="Name" required /></td>
        </tr>
        <tr>
          <td>Releasedate:</td>
          <td><input type="date" name="Releasedate" required /></td>
        </tr>
        <tr>
          <td>Requiredage:</td>
          <td><input type="number" name="Requiredage" min="0" /></td>
        </tr>
        <tr>
          <td>Price:</td>
          <td><input type="number" name="Price" step="0.01" min="0" required /></td>
        </tr>
        <tr>
          <td>DLCcount:</td>
          <td><input type="number" name="DLCcount" min="0" /></td>
        </tr>
        <tr>
          <td>Windows:</td>
          <td><input type="checkbox" name="Windows" value="true" /></td>
        </tr>
        <tr>
          <td>Mac:</td>
          <td><input type="checkbox" name="Mac" value="true" /></td>
        </tr>
        <tr>
          <td>Linux:</td>
          <td><input type="checkbox" name="Linux" value="true" /></td>
        </tr>
        <tr>
          <td>Achievements:</td>
          <td><input type="number" name="Achievements" min="0" /></td>
        </tr>
        <tr>
          <td>Developers:</td>
          <td><input type="text" name="Developers" required /></td>
        </tr>
        <tr>
          <td>Publishers:</td>
          <td><input type="text" name="Publishers" required /></td>
        </tr>
        <tr>
          <td>Categories:</td>
          <td><input type="text" name="Categories" required /></td>
        </tr>
        <tr>
          <td>Genres:</td>
          <td><input type="text" name="Genres" required /></td>
        </tr>
        <tr>
          <td>Positive:</td>
          <td><input type="number" name="Positive" min="0" /></td>
        </tr>
        <tr>
          <td>Negative:</td>
          <td><input type="number" name="Negative" min="0" /></td>
        </tr>
      </table>
      <button type="submit">Add Game</button>
    </form>
  </div>

</div>